<html>

<h1>Hello, <%= @user.username %>!</h1>
<img src=<%= @user.gravatar_url %> />

<form action="/posts" method="post">
  <input type="hidden" name="user_id" value=<%= @user.id %> />
  <textarea name="body"></textarea>
  <br />
  <input class="btn btn-primary" type="submit" value="Submit" />
</form>

<a href="/users/<%= @user.id %>/edit">Edit Profile</a>

<a href="/users/<%= @user.id %>/following">Following</a>
<a href="/users/<%= @user.id %>/followers">Followers</a>

<ul>
  <% @posts.each do |post| %>
    <li class="lead">
      <img src=<%= post.user.gravatar_url %> />
      <%= post.body %> | <%= post.created_at.strftime('%e %b %Y %H:%M:%S%p') %> |
      <a href="/users/<%= post.user.id %>"><%= post.user.username %></a>
      <% if allow_edit(post) %>
        <form action="/posts/<%= post.id %>/feed" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="delete">
        </form>
      <% end %>
    </li>
  <% end %>
</ul>

</html>

