<html>

<h1>Hello, <%= @user.username %>!</h1>

<form action="/posts" method="post">
  <input type="hidden" name="user_id" value=<%= @user.id %> />
  <textarea name="body"></textarea>
  <br />
  <input class="btn btn-primary" type="submit" value="Submit" />
</form>

<a href="/users/<%= @user.id %>/edit">Edit Profile Settings</a><br><br>

<ul>
  <% @posts.each do |post| %>
    <li class="lead">
      <%= post.body %> | <%= post.created_at %> |
      <a href="/users/<%= post.user.id %>"><%= post.user.username %></a>
    </li>
  <% end %>
</ul>

</html>

